

/*For smaller screens*/
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 30px;
    }
    p{
        font-size: 15px;
    }
    #funParagraph{
        font-size: 15px;
    }
    .dropbtn{
      min-width: 500px;
    }
}

/*text style*/
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 90px;
    color: #B3EFFF;
    text-align: center;
      animation-duration: 4s;
  animation-iteration-count: infinite;
}
h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  color: #B3EFFF;
  text-align: center;
      animation-duration: 4s;
  animation-iteration-count: infinite;
}
#oslometheading{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  text-align: center;
  color: #1C304A;
}
p {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    font-size: 25px;
    color: rgb(0, 0, 0);
}
aside{
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  font-size: 20px;
}
blockquote{
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  font-size: 15px;
}
/*Styling the body*/
body{
  background-color: #1C304A;
  text-align: left;
  box-sizing: border-box;
  
}
#homeBody{
  background-color: #1C304A;
  text-align: left;
  box-sizing: border-box; 
  background-image: url(photos/OsloMet_b.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  box-sizing: border-box;
}
#reflectionBody{
  background-color: #1C304A;
  text-align: center;
  box-sizing: border-box;
}

/*Styling article*/
article{
  background-color: white;
  text-align: left;
  padding: 15px;
}

/*Styling the list in topical page*/
li{
font-family: 'Times New Roman', Times, serif;
text-align: left;
font-size: 25px;
color: rgb(0, 0, 0);
}

/*Styling the footer*/
.thefooter{
  background-color: rgb(0, 0, 0);
  color: white;
  padding:0px;
  position: left;
  bottom: 0;
  width: 100%;
  
  height: 30px;
  margin-top:5px;
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
  box-sizing: border-box;
}


main{
  padding-bottom: 30px;
}
/*Styling the homepage*/
 
  .indexcolumn1{
    width: 70%;
    float: left;
    padding: 15px;
    background-color: white;
    
  }
  .indexcolumn2{
    width: 30%;
    float: left;
    padding: 15px;
    background-color: #B3EFFF;
    color: black;
    
  }
  
  /*Styling accessibility page*/

  .accessibilityParagraph{
    text-align:center;
    color: black;

  }
  .accessibilitycolumn1 {
    width: 50%;
    float: left;
    padding: 15px;
    background-color: white;
  }
  .accessibilitycolumn2 {
    width: 50%;
    float:left;
    padding: 15px;
    background-color: white;
  }


  /*Styling fun-page*/
* {
  box-sizing: border-box;
}
.animate__animated {
  color: rgb(0, 0, 0);
}
  #funBody{
    background-color: rgb(122, 154, 155);
    text-align: center;
      box-sizing: border-box;
  }
  .funParagraph{
    display: inline-block;
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ddd;
    color: black;
      box-sizing: border-box;
  }

    .column{
        width: 50%;
        float: left;
        padding: 15px;
        background-color: #ddd;
}
.column2{
  width:100%;
  background-color: #ddd;
  float: left;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Navigation menu*/
#navbar {
  overflow: hidden;
  background-color:#B3EFFF;
}

#navbar a {
  float: left;
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  color:white;
  background-color: black;
}

#navbar a.active {
  color:white;
  background-color: black;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


/* Reflection page */

.column3{
  float: left;
  width: 50%;
  padding: 20px;
  background-color: white;
}
.row::after{
  content: "";
  clear: both;
  display: table;
}

.reflectionParagraph{
  text-align: left;
  background-color: white;
  color: #000000;
}

.reflectionSubheading{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  color: #000000;
  text-align: center;
      animation-duration: 4s;
  animation-iteration-count: infinite;
}

.article2{
  background-color: white;
  text-align: center;
}
