
h1 {
    font-family: 'Aladin';
    font-size: 100px;
    color: black;
    text-align: center;
}
h2 {
  font-family: 'Aladin';
  font-size: 50px;
  color: black;
  text-align: center;
}
p {
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
}
body{
  background-color: rgb(194, 152, 90);
}


/*her starter menyen*/
.dropbtn {
    background-color: #5f0e3d;
    color: white;
    padding: 20px;
    font-size: 30px;
    border: none;
    font-family: 'Aladin';
    min-width: 180px;
  }
  

.dropdown {
    position: relative;
    display: inline-block;
  }
  
 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 30px;
  }
  
 
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Aladin';
  }
  

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #f70084;}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  /*Styler fun-page*/
  #funBody{
    background-color: cadetblue;
  }
  #pictures{
    text-align: center;
  }