

/*For smaller screens*/
@media screen and (max-width: 500px) {
    .indexcolumn1{
      min-width: 100%;
    }
    .indexcolumn2{
      min-width: 100%;
    }
    .accessibilitycolumn1{
      min-width: 100%;
    }
    .accessibilitycolumn2{
      min-width: 100%;
    }
    .column3{
      min-width: 100%;
    }
    .column {
      min-width: 100%;
    }
    .column2{
      min-width: 100%;
    }
    .thefooter{
      min-width: 100%;
    }

}

/*text style*/
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10vw;
    color: #B3EFFF;
    text-align: center;
      animation-duration: 4s;
  animation-iteration-count: infinite;
}
h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 7vw;
  color: #B3EFFF;
  text-align: center;
      animation-duration: 4s;
  animation-iteration-count: infinite;
}
h3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3vw;
  text-align: center;

}
#oslometheading{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3vw;
  text-align: center;
  color: #1C304A;
}
.homeheading{
  text-shadow: 1vw 1vw #1C304A;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 1px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  height: 80%;
}
#thishomeheading{
  color: white;
}
p{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    font-size: 2.2vw;
    color: rgb(0, 0, 0);
    margin: 20px 50px 75px;
}
aside{
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  font-size: 1.9vw;
  margin: 1px 3px 3px;
}
blockquote{
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  font-size: 1.5vw;
  margin: 0px;
}
/*Styling the body*/
body{
  background-color: #1C304A;
  text-align: left;
  box-sizing: border-box;
  
}
#homeBody{
  background-color: #1C304A;
  text-align: left;
  box-sizing: border-box; 
  
  background-repeat: no-repeat;
  background-size: 100%;
  box-sizing: border-box;
  position: absolute;
}
.bg-image{
  background-image: url("photos/OsloMet_b.jpg"); 
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body, html {
  height: 100%;
}

#reflectionBody{
  background-color: #1C304A;
  text-align: center;
  box-sizing: border-box;
}
/*Images*/
img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*Styling article*/
article{
  background-color: white;
  text-align: left;
  padding: 2.2vw;
  box-sizing: border-box;
}

/*Styling the list in topical page*/
li{
font-family: 'Times New Roman', Times, serif;
text-align: left;
font-size: 2.2vw;
color: rgb(0, 0, 0);
margin: 10px 30px 0px 15px;
}

/*Styling the footer*/
.thefooter{
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 0px;
  float: left;
  width: 100%;
  height: 50px;
  margin-top: 5px;
  font-size: 2.2vw;
  margin-bottom: 5px;
  text-align: center;
  box-sizing: border-box;
  
}

/*Styling the homepage*/
 
  .indexcolumn1{
    width: 70%;
    float: left;
    padding: 15px;
    background-color: white;
  }
  
  .indexcolumn2{
    width: 30%;
    float: left;
    padding: 15px;
    background-color: #B3EFFF;
    color: black;
  }
  
  .socialMedia{
    padding-left: 75%;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  /*Styling accessibility page*/

  .accessibilityParagraph{
    text-align: left;
    font-size: 2.2vw;
    color: rgb(0, 0, 0);
    margin: 20px 50px;

  }
  .accessibilityPicturetext{
    text-align: left;
    font-size: 1.5vw;
    color: rgb(0, 0, 0);
    margin: 20px 50px;

  }
  .accesibilitySubheading{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 7vw;
  color: #000000;
  text-align: center;

  }
  .accessibilityColumn1 {
    width: 50%;
    float: left;
    padding: 15px;
    background-color: white;
  }
  .accessibilityColumn2 {
    width: 50%;
    float: left;
    padding: 15px;
    background-color: white;
  }


  /*Styling fun-page*/
* {
  box-sizing: border-box;
}
.animate__animated {
  color: rgb(64, 38, 75);
  text-shadow: 1vw 1vw rgb(228, 228, 228);
}
  #funBody{
    background-color: rgb(122, 154, 155);
    text-align: center;
      box-sizing: border-box;
  }
  .funParagraph{
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2.2vw;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px 0px 5px;
    color: black;
      box-sizing: border-box;
  }

    .column{
        width: 50%;
        float: left;
        padding: 15px;
        background-color: rgb(228, 228, 228);
}

.column2{
  width:100%;
  background-color: rgb(228, 228, 228);
  float: left;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Navigation menu*/
#navbar {
  overflow: hidden;
  background-color:#B3EFFF;
}

#navbar a {
  float: left;
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2vw;
}

#navbar a:hover {
  color:white;
  background-color: black;
}

#navbar a.active {
  color:white;
  background-color: black;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


/* StylingReflection page */

.column3{
  float: left;
  width: 50%;
  background-color: white;
}

.reflectionParagraph{
  text-align: left;
  background-color: white;
  color: #000000;
  font-size: 2.2vw;
  padding:15px;
}

.reflectionSubheading{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 7vw;
  color: #000000;
  text-align: center;
}

.article2{
  background-color: white;
  text-align: center;
  padding: 15px;
  
}
